html,
body {
  background-color: #85b9dd;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding: 5vw;
  margin: 2vw;
  border: 10px solid white;
  border-radius: 15px;
}
#game-info img {
  width: 15vw;
  height: 100%;
  margin: 0 5vw;
}
#game-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
#last-damage {
  display: block;
}
